/* FONT FACE */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
/*GLOBAL */

body {
    background-image: url(../img/fond.png);
}

/* HEADER */
header {
    text-align: center;
    margin: 5px 5px 50px 5px;
    padding: 5px 30px 5px 30px;
}

header .container {
    background-image: url(../img/animate-header.gif);
    background-color: #EAD496;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    height:40vh;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;

}

/* MAIN */

main .container {
    text-align: center;
    height : 42vh;
}

main h1 {
    font-family: 'Cabin Sketch', cursive;
}

#resultat {
    width:40%;
    margin:0 auto;
}

.firstDiv {
    margin-top:10px;
}

.firstDiv div {
    display: inline-block;
}
/* FOOTER */

footer {
    padding: 30px;
    background-color: #EAD496;
    background-size: cover;
    color: white;
    margin: 5px;
    height : 10vh;
}

footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.readmore {
    padding : 10px 30px;
    background-color:#cccccc;
    margin : 0 5px 0;
    display : block;
}

/* .readmore:hover {
    width:100px;
} */

/* Affichage sur Tablettes et petits écrans */

@media screen and (max-width:810px) {
    header .container {
        height : 35vh;
        background-size: 90%;   
    }

    h1 {
        font-size: 100%;
    }

    footer {
        height : 15vh;
        padding : 10px;
    }

    footer nav {
        height : 100px;
        flex-direction:column;
        align-content: space-around;
        
    }

    .readmore  {
        margin : 5px 0;
        text-align: center;
    }
}

@media screen and (max-width:510px) {
    header .container {
        height : 25vh;
        background-size: 90%;  
    }

    .firstDiv {
        display:flex;
        flex-direction:column;
    }

    .divBtn button {
        margin-top:10px;

    }

    footer nav div {
        width : 80%;
        font-size : 55%;
    }
}

